.saved-news__card {
  max-width: 400px;
  min-width: 288px;
  max-height: 576px;
  opacity: 1;
  background-color: white;
  border-radius: 16px;
  position: relative;
}

/* Tag implementada apenas para a semântica html */
.saved-news__card-art {
  width: 100%;
  height: 100%;
}

/* Tag implementada apenas para a semântica html */
.saved-news__card-fig {
  margin: 0;
}

.saved-news__card-img {
  max-width: 400px;
  min-width: 288px;
  min-height: 272px;
  opacity: 1;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.saved-news__card-tag {
  max-width: 87px;
  min-width: 83px;
  height: calc(
    40px - 8px
  ); /* subtraído o padding / a altura é a mesma até em mobile */
  opacity: 1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;
  padding-top: calc((40px - 24px) / 2);
}

/*.saved-news__card-tooltip {
  width: 159px;
  height: calc(
    40px - 14px - 11px
  ); */ /* subtraídos os paddings / a altura é a mesma até em mobile */
/* opacity: 1;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 24px;
  right: 69px;
  z-index: 1;
  box-shadow: 0px 10px 22px 0px rgba(59, 74, 116, 0.1);
  padding-top: 14px;
  padding-bottom: 11px;
  display: none;
}*/

.saved-news__card-trash {
  width: 40px; /* msms dimensões até versão mobile */
  height: 40px;
  opacity: 1;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  background-image: url('/images/trash-card.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
}

.saved-news__card-trash:hover {
  background-image: url('/images/trash-card-hover.svg');
  cursor: url('/images/cursor-lapka.png'), pointer;
}

/* Para implementar tooltip de aviso da lixeira, quando o ícone estiver em hover */
.saved-news__card-trash:hover::before {
  content: 'Remover dos salvos';
  position: absolute;
  top: 0px;
  right: 45px; /* medida ajustada por visualização com DevTools */
  z-index: 1;
  width: 159px;
  height: calc(
    40px - 14px - 11px
  ); /* subtraídos os paddings / a altura é a mesma até em mobile */
  opacity: 1;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  vertical-align: middle;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 22px 0px rgba(59, 74, 116, 0.1);
  padding-top: 14px;
  padding-bottom: 11px;
}

.saved-news__card-infos {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  min-height: calc(576px - 272px - 24px - 24px); /* subustraídos os paddings */
}

.saved-news__card-date {
  margin: 0;
  min-width: 197.75px;
  max-width: 256px;
  height: 24px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
  color: rgba(182, 188, 191, 1);
}

.saved-news__card-title {
  margin: 0;
  max-width: 352px;
  min-width: 256px;
  max-height: 90px;
  opacity: 1;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número máximo de linhas */
  -webkit-box-orient: vertical;
  line-clamp: 3;
}

.saved-news__card-text {
  margin: 0;
  max-width: 352px;
  min-width: 256px;
  max-height: 88px;
  min-height: 66px;
  opacity: 1;
  font-size: 16px;
  line-height: 1.37;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* número máximo de linhas */
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

.saved-news__card-source {
  margin: 0;
  max-width: 352px;
  min-width: 256px;
  height: 20px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: rgba(182, 188, 191, 1);
  font-style: normal;
}
