.search {
  background-image: url('/images/georgia-de-lotz-unsplash.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  border-width: 1px;
  padding-top: 160px;
  padding-bottom: 80px;
}

.search__title {
  width: 700.53px;
  height: 128px;
  opacity: 1;
  font-family: 'Roboto Slab';
  font-size: 60px;
  line-height: 1.07;
  margin: 0 auto;
}

.search__text {
  width: 608px;
  height: 48px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.33;
  margin: 32px auto 64px;
}
