.saved-news__infos {
  max-width: 1440px;
  min-width: 320px;
  padding-top: 40px;
  padding-bottom: 56px;
  margin-left: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.saved-news__title {
  max-width: 712px;
  min-height: 24px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  margin: 0;
}

.saved-news__info {
  max-width: 530px;
  min-height: 92px;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 1.15;
  margin: 28px 0 30px;
  text-align: start;
}

.saved-news__keywords {
  max-width: 712px;
  min-height: 24px;
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
}

.saved-news__list {
  max-width: 1440px;
  min-width: 320px;
  background-color: rgba(245, 246, 247, 1);
  padding-top: 62px;
  padding-bottom: 62px;
}

.saved-news__cards {
  list-style: none;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 102px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content; /* linhas criadas automaticamente e dimensionadas de acordo com seu conteúdo */
  gap: 16px;
}
