/* ------- page ------- */
.page {
  font-family: 'Roboto', 'Roboto Slab', 'Inter', Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0px;
  height: 100vh; /* para remover o espaço em branco no final da página, devido o deslocamento dos componentes para ajuste do Header */
}

.page__header {
  max-width: 1440px;
  min-width: 320px;
  height: calc(80px - 19px - 13px);
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.page__header-news {
  max-width: 1440px;
  min-width: 320px;
  height: calc(80px - 19px - 13px);
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.page__main {
  position: relative;
  top: -80px;
}

/* ------- main ------- */
.main__search {
  max-width: 1440px;
  min-width: 320px;
  height: calc(576px - 160px - 80px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__searched-news {
  display: flex;
  flex-direction: column;
}

.main__preloader {
  max-width: 1440px;
  min-width: 320px;
  height: calc(282px - 80px - 80px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main__nothing-found {
  max-width: 1440px;
  min-width: 320px;
  height: calc(374px - 86px - 80px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__about {
  max-width: 1440px;
  min-width: 320px;
  height: calc(624px - 80px - 80px);
  opacity: 1;
  display: flex;
  justify-content: center;
}

.main__saved-news {
  position: relative;
  top: 80px;
  max-width: 1440px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

/* ------ footer ------ */
.page__footer {
  position: relative;
  top: -80px;
  max-width: 1440px;
  min-width: 320px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__footer_saved-news {
  position: relative;
  top: 0px;
}
