.page {
  font-family: 'Roboto', 'Roboto Slab', 'Inter', Arial, sans-serif;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  min-width: 320px;
  max-width: 1440px;

  margin: 0 auto;

  text-align: center;
  letter-spacing: 0px;
}
