.main {
  color: rgba(255, 255, 255, 1);
  background-image: url('/images/georgia-de-lotz-unsplash.png');
  max-width: 1440px;
  min-width: 320px;
  height: calc(576px - 160px - 80px);
  opacity: 1;
  border-width: 1px;
  padding-top: 160px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  width: 700.53px;
  height: 128px;
  opacity: 1;
  font-family: 'Roboto Slab';
  font-size: 60px;
  line-height: 1.07;
  margin: 0 auto;
}

.main__text {
  width: 608px;
  height: 48px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.33;
  margin: 32px auto 64px;
}
