.about {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__img-box {
  width: 464px;
  height: 464px;
  opacity: 1;
}

.about__avatar {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  object-fit: cover;
}

.about__text {
  text-align: start;
  width: 600px;
  opacity: 1;
  margin-left: 56px;
}

.about__title {
  height: 46px;
  font-family: 'Roboto Slab';
  font-size: 40px;
  line-height: 1.15;
  margin: 51px 0 24px;
}

.about__description {
  height: 120px;
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
}
