.preloader {
  background-color: rgba(245, 246, 247, 1);
  overflow: hidden;
  max-width: 1440px;
  min-width: 320px;
  height: calc(282px - 80px - 80px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.preloader__circle {
  display: block;
  margin: 0;
  width: 74px;
  height: 74px;
  border: 1px solid #1a1b22;
  border-right-color: #d1d2d61a;
  border-bottom-color: #d1d2d65d;
  border-left-color: #d1d2d6;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  margin: 24px 0 0;
  width: 280px;
  height: 24px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(182, 188, 191, 1);
}
