.footer {
  background: rgba(255, 255, 255, 1);
  margin-left: 40px;
  margin-right: 40px;
}

.footer__copyright {
  margin: 0;
  width: 433px;
  height: 22px;
  font-size: 16px;
  line-height: 1.37;
  color: rgba(182, 188, 191, 1);
  text-align: start;
}

.footer__navs {
  display: flex;
  align-items: center;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer__item_triple {
  margin-left: 40px;
}

.footer__link {
  text-decoration: none;
  color: rgba(26, 27, 34, 1);
  font-size: 18px;
  line-height: 1.33;
  text-align: start;
}

.footer__link:hover {
  cursor: url('/images/cursor-lapka.png'), pointer;
  opacity: 0.6;
}

.footer__link:active {
  cursor: url('/images/cursor-lapka.png'), pointer;
  opacity: 0.4;
}

.footer__nav_social {
  margin-left: 40px;
}

.footer__item_gh,
.footer__item_fb {
  width: 24px;
  height: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.footer__link_gh,
.footer__link_fb {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.footer__link_gh {
  background-image: url('/images/github-icon.svg');
}

.footer__item_fb {
  margin-left: 24px;
}

.footer__link_fb {
  background-image: url('/images/fb-icon.svg');
}

/* ------ Responsividade ------ */

/* ------ Tablet ------ */
@media screen and (min-width: 641px) and (max-width: 960px) {
  .footer {
    margin-left: 26px;
    margin-right: 26px;
  }

  .footer__item_triple {
    margin-left: 16px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 1.15;
  }

  .footer__nav_social {
    margin-left: 16px;
  }

  .footer__item_fb {
    margin-left: 16px;
  }
}

/* ---- Smartphone ---- */
@media screen and (min-width: 320px) and (max-width: 640px) {
  .footer {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .footer__copyright {
    width: 288px;
    font-size: 13px;
    line-height: 1.69;
  }

  .footer__navs {
    align-items: start;
  }

  .footer__list_main {
    width: 200px;
    height: 74px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 2.67;
    text-align: start;
  }

  .footer__list_main .footer__item {
    height: calc(74px / 2);
  }

  .footer__item_home {
    display: flex; /* pq o display do elemento é list-item, então o display flex definido
    em __list_main não tem efeito */
    align-items: flex-end; /* alinha o item no topo da linha */
  }

  .footer__list_main .footer__item .footer__link {
    font-size: 18px;
    line-height: 2.67;
  }

  .footer__item_triple {
    margin-left: 0;
  }

  .footer__nav_social {
    margin-left: 16px;
  }

  .footer__item_fb {
    margin-left: 24px;
  }
}
