.footer {
  background: rgba(255, 255, 255, 1);
  margin-left: 40px;
  margin-right: 40px;
}

.footer__copyright {
  margin: 0;
  width: 433px;
  height: 22px;
  line-height: 1.37;
  color: rgba(182, 188, 191, 1);
  text-align: start;
}

.footer__navs {
  display: flex;
}

.footer__nav_social {
  margin-left: 40px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer__item:nth-of-type(2) {
  margin-left: 40px;
}

.footer__item_fb {
  margin-left: 24px;
}

.footer__item_gh,
.footer__item_fb {
  width: 24px;
  height: 24px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: rgba(26, 27, 34, 1);
  font-size: 18px;
  line-height: 1.33;
  text-align: start;
}

.footer__link:hover {
  cursor: url('/images/cursor-lapka.png'), pointer;
  opacity: 0.6;
}

.footer__link:active {
  cursor: url('/images/cursor-lapka.png'), pointer;
  opacity: 0.4;
}

.footer__link_gh {
  background-image: url('/images/github-icon.svg');
}

.footer__link_fb {
  background-image: url('/images/fb-icon.svg');
}

.footer__link_gh,
.footer__link_fb {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
