.nothing-found {
  background-color: rgba(245, 246, 247, 1);
  max-width: 1440px;
  min-width: 320px;
  height: calc(374px -86px - 80px);
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 80px;
}

.nothing-found__image {
  width: 82.5px;
  height: 82.5px;
  opacity: 1;
  border-width: 1px;
}

.nothing-found__title {
  width: 356px;
  height: 30px;
  opacity: 1;
  font-family: 'Roboto Slab';
  font-size: 26px;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
  margin: 31.5px 0 16px;
}

.nothing-found__text {
  width: 356px;
  height: 48px;
  opacity: 1;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(182, 188, 191, 1);
  margin: 0;
}
