.nothing-found {
  background-color: rgba(245, 246, 247, 1);
  padding-top: 86px;
  padding-bottom: 80px;
}

.nothing-found__image {
  width: 82.5px;
  height: 82.5px;
  border-width: 1px;
}

.nothing-found__title {
  width: 356px;
  height: 30px;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-size: 26px;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
  margin: 31.5px 0 16px;
}

.nothing-found__text {
  width: 356px;
  height: 48px;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(182, 188, 191, 1);
  margin: 0;
}

/* ------ Responsividade ------ */

/* ------ Tablet ------ */
@media screen and (min-width: 641px) and (max-width: 960px) {
  .nothing-found {
    padding-top: 76px;
    padding-bottom: 70px;
  }

  .nothing-found__image {
    width: 72.5px;
    height: 72.5px;
  }

  .nothing-found__title {
    font-size: 24px;
    line-height: 1.13;
  }
}

/* ---- Smartphone ---- */
@media screen and (min-width: 320px) and (max-width: 640px) {
  .nothing-found {
    padding-top: 66px;
    padding-bottom: 60px;
  }

  .nothing-found__image {
    width: 62.5px;
    height: 62.5px;
  }

  .nothing-found__title {
    font-size: 22px;
    line-height: 1.11;
  }

  .nothing-found__text {
    font-size: 16px;
    line-height: 1.15;
  }
}
